@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
    font-family: 'Aboreto', cursive;
    background-color: black;
    color: white;
    background-image: url(berlin-purple.jpg);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: purple;
  }
  
  header nav ul li {
    list-style: none;
  }
  
  main {
    padding: 20px;
  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background-color: purple;
  }
  
  @media (max-width: 600px) {
    header nav ul {
      flex-direction: column;
      text-align: center;
    }
  }
  
  .zoom-in-out {
    animation: zoom-in-out 3s linear infinite;
  }
  
  @keyframes zoom-in-out {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
    100% {
      transform: scale(1);
    }
  }

  #parkour-purple {
    
position: relative;
margin: auto;
float: inline-start;

  }