@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

body {
    font-family: 'Aboreto', cursive;
    background-color: black;
    color: white;
    background-image: url(parkour-purple.avif);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  opacity: 1;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  header nav ul {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: purple;
  }
  
 #header-title{
height: 100px;
float: inherit;
 }
  
 #signup {

  height: 400px;
  text-align: center;
  display: block;
  margin: 10px auto;
  width: 50%;
}

label, input[type="text"], input[type="email"] {
  display: block;
  margin: 10px auto;
  width: 50%;
}



  #menu{
 
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 1;
  

  }
  
  section h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  footer {
    padding: 20px;
    text-align: center;
    background-color: purple;
    opacity: .7;
    
  }
  
  @media (max-width: 600px) {
    header nav ul {
      flex-direction: column;
      text-align: center;
    }
  }
  
  
  #parkour-purple {
    
position: relative;
margin: auto;
float: inline-start;

  }

  #header-title {
    
   font-size: xx-large;
    
      }

      i {
    
        color: white;
        font-size: xx-large;
        margin: 2%;
        padding: 3%;
        text-align: center;
      }

      img {

   
   column-count:5;
   column-gap:5px;
   width: 50% 

      }
    
    
         
          
           

           